<!DOCTYPE html>
<html lang="en">
<head th:replace="index :: fCabecera">

</head>
<body>
    <div th:replace="index :: fBarraTop"></div>
    <header th:replace="index :: fHeader"></header>
    <main>
        <header>
            <p class="iniciosub d-flex justify-content-center" >SETS DE CUNA - ACCESORIOS</p> 
            <p class="iniciosub2 d-flex justify-content-center">INICIO > ACCESORIOS</p>   
        </header>
        <section>
          <div class="row d-flex justify-content-center align-items-center w-100">
            <div class="col-md-4 my-5 d-flex justify-content-center align-items-center" 
                 th:each="articulo: ${listaArticulos}"  th:if="${articulo.coleccion.nombre} == 'Accesorios'">
              <a class="btnComprar" 
                 th:data-id="${articulo.id}"
                 th:data-nombre ="${articulo.nombre}"
                 th:data-precio="${articulo.precio}"
                 th:data-imagen="${articulo.imagen}" style="text-decoration: none;">
                 <div class="card shadow-lg justify-content-center d-flex"
                   style="text-decoration: none;"> 
                <img th:src="@{'/images/' + ${articulo.imagen}}"
                     th:alt="*{articulo.nombre}" class="card-img-top articulos">
                     <div class="mt-3 mx-3 " >
                      <h2 class="card-title fs-6" th:text="*{articulo.nombre}" style="color: rgb(36, 36, 36);"></h2>
                      <h2 class="card-title fs-6 d-flex justify-content-center" th:text="'S/. ' + *{articulo.precio}" style="color: gray;"></h2>
                    </div>
              </div>
              </a>
            </div>
          </div>
        </section>
    </main>
    <footer th:replace="index :: fFooter"></footer>
    <!-- Modal -->
    <div class="modal fade mt-5" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel" ></h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form class="d-flex" th:action = "@{/inicio/guardar-pedido}" th:object="${pedido}" method="post">
                  <div class="modal-body">
                      <input type="hidden" name='id' id="id">
                      <div class="row ">
                          <div class="text-center">
                              <!-- Aquí es donde agregamos el elemento de imagen -->
                              <img id="imgCuna"  alt="Imagen del producto" height="250">
                          </div>
                          
                      </div>
                  </div>
                  <div class="modal-footer mt-0 pt-0">
                    <div class="mt-0 pt-0">
                      <div>
                        <label>Precio unidad:</label>
                        <input type="text" name="descripcion" id="txtPrecio" class="form-control" placeholder="Ingresar la descripcion" disabled>
                      </div>
                      <input type="hidden" th:field="*{articulo.id}" id="articuloId">
                      <div class="py-1">
                        <label>Cantidad:</label>
                        <input th:field="*{cantidad}" type="number" value=1  id="txtCantidad" class="form-control" placeholder="Ingresar cantidad deseada" required>
                      </div>
                      <div class="mt-4">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                          <i class="fa-solid fa-ban"></i> Cancelar
                        </button>
                        <button type="submit" class="btn celestebb">
                          <i class="fa-solid fa-tag"></i> Ingresar pedido
                        </button>
                      </div>
                    </div>
                      
                  </div>
              </form>
          </div>
      </div>
  </div>
    <div th:replace="index :: fLibrerias"></div>
    <script th:src="@{/js/libreriaAccesorios.js}"></script>
</body>
</html>